*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 50px;

}
.hero{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    border:solid 5px;
}

.hero p{
    font-size: large;
    font-weight: 100;
    letter-spacing: 2px;
}


